<!DOCTYPE html>
<html ng-app="root">
  <head>
    <title>Force of Hell Drinking Game | By Caffeinewriter</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="game" ng-controller="game">
      <ul>
        <li ng-repeat="game in games">
          <strong class="count">x{{game.count}}</strong>
          {{numShots($index)}}: {{game.name}}
          <button ng-click="incGame($index)">+1</button>
          <button ng-click="deleteGame($index)">x</a>
        </li>
      </ul>
      <div class="inputs">
        Shots: <input type="number" ng-model="tempShots" class="shots" /> Name: <input type="text" ng-model="tempGame" ng-enter="pushGame()" class="name" />
      </div>
      <table>
        <tr>
          <td>Total Shots:</td>
          <td>{{getTotalShots()}}</td>
        </tr>
        <tr>
          <td>Total Actions:</td>
          <td>{{getTotalActions()}}</td>
        </tr>
      </table>
      <button ng-click="loadDefaults()">Load Defaults</button>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
